*{
   padding:0px;
   margin: 0px; 
   box-sizing: border-box;
}

#wrap{
     width: 1200px; /*최대너비*/
    position:relative;
    margin: 0 auto;

}
#header{
    padding: 10px 20px;
   
}
#logoWrap{
    width: 50px;
}
#logoWrap img{/* id가 logoWrap인 태그 밑에 있는 img 태그 선택*/
    
    width: 100%;
}
/* 브라우저에 이미지 표현 2 */

#logoImg{
      height:50px;
     background:url("./다운로드.jpg") no-repeat;
     width: 100px;
     background-size: cover;
} 