/* [공통 초기화] */
* { margin: 0; padding: 0; box-sizing: border-box; }
a { text-decoration: none; color: inherit; }

/* [전체 레이아웃] */
#wrap { width: 1200px; margin: 0 auto; }

/* [헤더] */
header {
    width: 100%; height: 100px; 
    display: flex; justify-content: space-between; align-items: center;
}
.logo-box { height: 60px; margin-left: 20px; }
.logo-box img { height: 100%; }
.nav-box { margin-right: 20px; }
.nav-box a {
    font-size: 25px; color: #003366; font-weight: 700;
    padding: 3px 7px; margin: 0 20px;
}

.barsquare {
    width: 100%; 
    margin: 0px auto; 
    padding: 20px;
    background: #003366; 
    border-radius: 7px;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
.picture-box{ 
    height: 400px; 
    width: 400px;
    background-color: #f1f1f1;
}
.picture-box img{
    width: 100%;
}
.introduction-box{
    width: 800px;
    height: 500px;
    color: #f1f1f1;
}
.introduction-box h3{
    border-bottom: 3px solid #f1f1f1;
    
}



/* [푸터: 통일] */
footer {
    width: 100%; background-color: #003366;
    margin-top: 50px; 
    margin-bottom: 10px;
    border-radius: 7px;
    padding: 60px 0; text-align: center;
    color: #f1f1f1; clear: both;
}
.footer-text { font-size: 20px; margin-bottom: 5px; }


/*----------------작업역역----------------*/
.main1{
    display: flex; 
       width: 1200px;
       height: 570px;
    margin: 0px auto; 
    padding: 20px;
    background: #003366; 
    border-radius: 7px;
      justify-content: space-between;
}
.main2{
    background: #f1f1f1;
    width: 1000px;
    height: 500px;
    margin: 24px 100px 46px 100px;
    border-radius: 5px;
}
.main3{
    background: peru;
    height: 350px;
    width: 1000px;
    display: flex;
     
}
.main4{
     background: red;
     height: 120px;
     width: 1000px;
     margin-top: 30px;
     display: flex;
     column-gap: 20px;
}
.imgArea{
    width: 350px;
    height: 350px;
 background: blue;

}
.textArea{
     width: 650px;
    height: 350px;
    background: chartreuse;

}
.mainText{
    margin-top: 20px;
     background: red;
     height: 70px;

}
.text1{
    background: orange;
    height: 90px;
}
.text2{
    background: yellow;
    height: 70px;
}
.text3{
    background: #003366;
    height: 70px;
}
.underLine{
    height: 2px;
    width: 500px;
    background: white;
}
.underBox{
    background: white;
    width: 320px;
    height: 120px;
    
}
.underTopBox{
    display: flex;
   width: 320px;
   height: 60px;
   background: plum;
}
.underline{
    width: 250px;
    height: 2px;
    background-color: rgba(233, 226, 226, 0.982);
    margin-left: 35px;
}
.underBotBox{
      display: flex;
   width: 320px;
   height: 58px;
   background: #000000;
}
.underBoxImg{
    width: 40px;
    height: 40px;
  background: red;
  margin: 10px;
  
  
}
.underTopBoxText{
     width: 230px;
     height: 58px;
     background: green;
}
.underBotBoxBlank{
      width: 40px;
    height: 40px;
  background: red;
  margin: 10px;
  
}
.underBotBoxText{
    width: 230px;
     height: 58px;
     background: green;
}